# ignore source files of the Typescript project
src/

# ignore tests
**/*.test.*
**/*.test.d.ts
test/
test-d/

# ignore configs
.luarc.json
.oxlintrc.json
biome.json
bunfig.toml
# these names cannot be declared using {js,mjs,cjs} syntax
# is this case rule n/no-unpublished-import yells at me
eslint.config.js
eslint.config.mjs
eslint.config.cjs
oxlint.config.ts
tsconfig.json
tsconfig.*.json
vitest.config.js
vitest.config.ts

# ignore lockfiles
bun.lock
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# ignore repo configs
.forgejo/
.gitea/
.github/

# ignore IDE files
.idea
.nova
.vscode
.zed

# ignore packages
*.tar.gz
*.tgz
